<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd"
       default-autowire="byName">

    <cache:annotation-driven cache-manager="cacheManager"/>

    <bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
        <property name="cacheManagers">
            <list>
                <ref bean="simpleCacheManager"/>
                <ref bean="cmbCacheManager"/>
            </list>
        </property>
    </bean>

    <bean id="simpleCacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="concurrentMapCache"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="cmbCacheManager" class="com.xxrr.home.cache.CmbCacheManager">
        <property name="caches">
            <set>
                <bean id="localCache" class="com.xxrr.home.cache.caches.CmbLocalCache">
                    <property name="name" value="cmbLocalMap"/>
                </bean>
            </set>
        </property>
    </bean>
</beans>